[submodule "cinema-angular"]
	path = cinema-angular
	url = https://github.com/kelecs08/alkfejl/angular.git
[submodule "alkfejl-angular"]
	path = alkfejl-angular
	url = https://github.com/kelecs08/alkfejl-angular.git
