<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Film list</h1>
        <form method="post" th:action="@{/film/add}" th:object="${newFilm}"> 
            Film title: <input type="text" th:field="${newFilm.title}" />
            Director: <input type="text" th:field="${newFilm.director}" />
            Synopsis: <input type="text" th:filed="${newFilm.synopsis}" />
            Length: <input type="number" th:filed="${newFilm.length}" />
            <input type="submit" />
        </form>
        <ul>
            <li th:each="film : ${films}">
                <span th:text="${film.id}"></span>
                :
                <span th:text="${film.title}"></span>
                
            </li>
        </ul>
    </body>
</html>
